.bikes__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 117px auto 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .bikes__slider {
    display: block;
    margin: 60px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .bikes__slider {
    margin: 28px auto 0;
    max-width: 284px;
  }
}
