.highway__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: #151515;
    max-width: 460px;
    width: 100%;
    margin: 0 0 50px;
}
@media screen and (max-width: 1023px) {
    .highway__title{
        margin: 0 0 40px;
        font-size: 40px;
    }
}
@media screen and (max-width: 767px) {
    .highway__title{
        font-size: 32px;
        line-height: 40px;
        margin: 0;
        grid-area: 2 / 1 / 2 / 1;
    }
}