.bikes__link {
  margin-top: 22px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-left: 6px;
}

@media screen and (max-width: 425px) {
  .bikes__link {
    position: absolute;
    bottom: 16px;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin-left: 0;
  }
}
