.eddi-merks__quote{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 767px){
    .eddi-merks__quote{
        min-width: 284px;
    }
}