.bikes__item {
  margin-right: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.bikes__item:last-child {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .bikes__item {
    font-size: 11px;
    line-height: 14px;
  }
}
