.route__bike-container{
    max-width: 810px;
    max-height: 430px;
    height: 100%;
    border: 2px red;
    position: absolute;
    top: 347px;
    left: 510px;
}
@media screen and (max-width: 1439px){
    .route__bike-container{
        top: 210px;
    }
}
@media screen and (max-width: 1279px){
    .route__bike-container{
        top: 160px;
    }
}
@media screen and (max-width: 1023px){
    .route__bike-container{
        top: 120px;
        left: 360px;
    }
}
@media screen and (max-width: 767px){
    .route__bike-container{
        top: 311px;
        left: 0;
    }
}