.highway__slider-left{
    max-width: 50px;
    width: 100%;
    min-height: 50px;
    border-radius: 25px;
    background: #EBEBEB;
    position: relative;
}
.highway__slider-left::before{
    background-image: url(../../../images/highway__slider-left.svg);
    content: '';
    max-width: 7px;
    width: 100%;
    min-height: 16px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}