.highway__slider-left{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #EBEBEB;
    position: relative;
}
.highway__slider-left::before{
    background-image: url(../../../images/highway__slider-left.svg);
    content: '';
    width: 7px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
    .highway__slider-left{
        width: 24px;
        height: 24px;
    }
    .highway__slider-left::before{
        width: 4.5px;
        height: 10px;
    }
}